<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    
    <div class="row">
      <div class="row">
        <p class="lead">
          <img src="modules/core/client/img/brand/js-logo.png" />
          <p>Backend Store Managment</p>
        </p>
      </div>
      <br>
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="col-md-3">
          <span class="glyphicon glyphicon-search" style="font-size: 50px; color: blue"></span>
          <br>
          <br>
          <p><strong>T</strong>rack</p>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-signal" style="font-size: 50px; color: yellow"></span>
          <br>
          <br>
          <p><strong>A</strong>nalyze</p>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-usd" style="font-size: 50px; color: red"></span>
          <br>
          <br>
          <p><strong>P</strong>rofit</p>
        </div>
        <div class="col-md-3">
          <span class="glyphicon glyphicon-road" style="font-size: 50px; color: green"></span>
          <br>
          <br>
          <p><strong>I</strong>mprove</p>
        </div>
       <!--  <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" /> -->
      </div>
    </div>
    <br>
    <br>
  </div>
  <div>
    <h2>(Manage) all aspects of your superstore</h2>
    <br>
    <ul>
      <li>
        Click
        <em>Chat</em> to discuss issues with other authorized managers in real time.
      </li>
      <li>
        Configure your store management software by clicking on the navbar on top
      </li>
      <li>
        You can create and manage customers, departments, employees, products and transactions.
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <h2><strong style="color: blue">T</strong>rack</h2>
      <br>
      <p>Track key data on products, customers, employees and transactions.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: yellow">A</strong>nalyze</h2>
      <br>
      <p>Use key data points from tracking data to drive product deployment, reward loyal customers, and reward and promote employees.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: red">P</strong>rofit</h2>
      <br>
      <p>Use the data gathered through analytics to increase profit margins, leverage data to enhance negotiation with manufactorers.</p>
    </div>
    <div class="col-md-3">
      <h2><strong style="color: green">I</strong>mprove</h2>
      <br>
      <p>Use analytics to improve customer satisfaction, decrease employee turnover, and overall store offerings.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="well">
    <h2>Software Concerns</h2>
    <p>
      Once you're familiar with this software - please provide feedback for our continual improvment
      <ul>
        <li><a target="_blank" href="#">Software Documentation</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <li><a target="_blank" mailto="#">Software Management Team</a>
        </li>
        <li><a target="_blank" href="#">Immediate Solutions</a>
        </li>
        <li><a target="_blank" href="#">Updates</a>
        </li>
        
      </ul>
    </p>
  </div>
  
</section>
